body {
  background: hsl(35, 28%, 80%);
  background: #d1c2ae;
  color: #443526;
  font-family: 'PT Serif', serif;
  padding: 0;
  margin: 0;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

h1,
h2,
h3 {
  font-family: 'Hammersmith One', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 300%;
  line-height: 1;
}

a {
  color: #F0470F;
}

.wrapper {
  margin: 0 auto;
  min-width: 320px;
  width: 90%;
}

.intro {
  font-size: 125%;
  line-height: 1.5;
  margin-bottom: 1.5em;
}
