// @mixin uppercase-title($font-size) {
//   color: $yellow;
//   font-size: $font-size;
//   text-transform: uppercase;
//   font-family: $bebasNeue;
//   font-weight: normal;
// }

// @mixin normal-text($font-size, $font-style) {
//   color: $white;
//   font-size: $font-size;
//   font-family: $verdana;
//   font-style: $font-style;
// }

// @mixin uppercase-text($font-size, $font-style) {
//   color: $yellow;
//   font-size: $font-size;
//   text-transform: uppercase;
//   font-family: $verdana;
//   font-weight: bold;
//   font-style: $font-style;
// }

// @mixin background-parallax {
//   background-attachment: fixed;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
// }

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: alpha(opacity=$opacity-ie);
}

@mixin display-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

