//  color variables
$white: 						#fff;
$black:             #000;
$yellow: 						#ffc800;
$pearl-bush:				#e9e2d8;
$pearl-bush-light:	#e1d8ca;
$pomegranate:				#f0470f;
$english-walnut: 		#413324;
$millbrook:					#614c37
