//- include ../mixins/_language

doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE]> <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">
head
  meta(charset="utf-8")
  title Flexbox - DotA
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width")
  link(rel="shortcut icon", href="favicon.ico")
  //- build:css styles/vendor.min.css -->
  //- endbuild -->
  //- build:css({.tmp,app}) styles/main.min.css -->
  link(rel="stylesheet", href="styles/main.css")
  //- endbuild -->

  //- build:js(.tmp) scripts/modernizr.min.js -->
  script(src="scripts/plugins/modernizr.js")
  //- endbuild -->

body
  .wrapper
    include ../modules/header.jade

    h1 S'mores Builder
    p.intro
    | This is your chance to get creative. As long as you have a roasted marshmallow sandwiched between something with some chocolate added, I say you got a s'mores. So pick your frame, marshmallow, and candy, add an optional accessory or two, and build a crazy s'mores concoction.
    include ../modules/form.jade
    h2 Need some inspiration?
    include ../modules/galery.jade
    include ../modules/pagination.jade

  main
    block content

  //- build:js(./app/) scripts/vendor.min.js -->
  // bower:js
  script(src='../bower_components/jquery/dist/jquery.js')
  // endbower
  //- endbuild -->
  //- build:js(.tmp) scripts/plugins.min.js -->
  //- endbuild -->
  //- build:js(.tmp) scripts/main.min.js -->
  script(src="scripts/main.js")

  //- endbuild -->

| </html>
