section.gallery
  article.gallery-item
    h3.gallery-item-name Classic
    ul.gallery-item-list
      li plain graham crackers
      li plain marshmallow
      li Hershey's chocolate
  article.gallery-item
    h3.gallery-item-name Elvis
    ul.gallery-item-list
      li chocolate graham crackers
      li plain marshmallow
      li Hershey's chocolate
      li peanut butter
      li banana
  article.gallery-item
    h3.gallery-item-name PB&J
    ul.gallery-item-list
      li plain graham crackers
      li plain marshmallow
      li Hershey's chocolate
      li peanut butter
      li strawberries
  article.gallery-item
    h3.gallery-item-name Chocolate-covered Strawberry
    ul.gallery-item-list
      li chocolate graham crackers
      li plain marshmallow
      li dark chocolate
      li strawberries
  article.gallery-item
    h3.gallery-item-name Thanksgiving Casserole
    ul.gallery-item-list
      li cinnamon graham crackers
      li plain marshmallow
      li Hershey's chocolate
      li sweet potato puree
  article.gallery-item
    h3.gallery-item-name Nutty
    ul.gallery-item-list
      li almond thins cookies
      li plain marshmallow
      li Nutella
  article.gallery-item
    h3.gallery-item-name Banana Pudding
    ul.gallery-item-list
      li Nilla Wafers
      li plain marshmallow
      li white chocolate
      li banana
  article.gallery-item
    h3.gallery-item-name The Monster
    ul.gallery-item-list
      li chocolate graham crackers
      li chocolate marshmallow
      li Reese's peanut butter cup
      li caramel sauce
  article.gallery-item
    h3.gallery-item-name Salty-Sweet
    ul.gallery-item-list
      li Ritz crackers
      li plain marshmallow
      li Hershey's chocolate
      li peanut butter
  article.gallery-item
    h3.gallery-item-name Triple Chocolate
    ul.gallery-item-list
      li chocolate graham crackers
      li chocolate marshmallow
      li dark chocolate
  article.gallery-item
    h3.gallery-item-name Fruit Salad
    ul.gallery-item-list
      li plain graham crackers
      li plain marshmallow
      li white chocolate
      li banana
      li strawberries
  article.gallery-item
    h3.gallery-item-name Cookies 'n' Cream
    ul.gallery-item-list
      li Oreos
      li plain marshmallow
      li Hershey's Cookies 'n' Creme bar
