header(role='banner')
  .logo
    img(src='images/logo.png', width='300', height='102', alt="s'mores")
    p.tagline Celebrate National S’mores Day Every Day
  nav.main-nav(role='navigation')
    ul.list-nav
      li.list-nav-item.list-nav-item_home
        a(href='index.html') home
      li.list-nav-item.list-nav-item_builder
        a(href='builder.html') s'mores builder
      li.list-nav-item.list-nav-item_party
        a(href='index.html') throw a party
      li.list-nav-item.list-nav-item_tumblr
        a(href='http://smoresday.tumblr.com') tumblr
