.logo {
  @extend %text-center;
}

.tagline {
  @extend %block;

  color: $white;
  font-family: 'Hammersmith One', sans-serif;
  margin-top: 5px;
}

.list-nav {
  @extend %text-uppercase;
  @include display-flexbox;
  @include justify-content;

  -webkit-box-pack: justify;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-nav-item {
  @extend %text-center;
}

@media screen and (min-width: 600px) {
  .list-nav {
    letter-spacing: 1px;
    text-align: center;
  }

  .list-nav-item {
    display: inline-block;
    padding: 0 .5em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

@media screen and (min-width: 860px) {
  .flexbox,
  .flexboxtweener {
    .list-nav {
      @include flex-start-content;

      position: relative;
      top: -70px;
    }

    .list-nav-item_home {
      margin-right: 15px;
    }

    .list-nav-item_party {
      margin-left: auto;
    }
  }
}

@media screen and (min-width:1200px) {
  .list-nav {
    letter-spacing: 2px;
  }

  .flexbox,
  .flexboxtweener {
    .list-nav-item_home {
      margin-right: 30px;
    }

    .list-nav-item_tumblr {
      margin-left: 30px;
    }
  }
}




