/* Pagination ------------------------------- */
.pagination {
  @extend %text-center;
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.flexwrap {
  .pagination {
    @include display-flexbox;
    @include flex-wrap;
    @include justify-content;
  }

  .pagination-item {
    &:first-child,
    &:last-child {
      width: 50%;
    }
  }
}

.pagination-item {
  @extend %inline-block;
  @include flex-order(2);

  &:first-child {
    @extend %text-left;
    @include flex-order(0);
  }

  &:last-child {
    @extend %text-right;
    @include flex-order(1);
  }
}

.pagination-link {
  @extend %inline-block;
  @include border-radius(2px);
  background: hsla(0,0%,100%,.2);
  border: 1px solid hsla(0,0%,100%,.3);
  padding: 10px;
  margin: 0 0 10px 0;
}

@media screen and (min-width:600px) {
  .pagination {
    @include display-flexbox;
    @include justify-content;
  }

  .pagination-item,
  .flexbox .pagination-item:first-child,
  .flexboxtweener .pagination-item:first-child,
  .flexbox .pagination-item:last-child,
  .flexboxtweener .pagination-item:last-child {
    @include flex-order(0);
    text-align: center;
    width: auto;
  }
}

@media screen and (min-width: 860px) {
  .pagination-link {
    margin: 0 10px;
  }

  .flexbox,
  .flexboxtweener {
    .pagination {
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
    }
  }
}
